{% extends "admin/base_site.html" %}
{% load i18n admin_static date_extras %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<style>
.dashboard #content{
    width: 100%;
}
</style>
{% endblock %}
{% block coltype %}col-lg-12{% endblock %}
{% block bodyclass %}dashboard{% endblock %}

{% block content %}
<div id="content-main" class="row-fluid" >

    <ul class="object-tools">
		<li><a href="{% url 'new_issue' %}" class="add_issue">Add Issue </a></li>
        <li><a href="#" class="close-issue-btn"><span>Show closed</span> </a></li>
        <li><a href="#" class="comment-issue-btn" ><span>Hide comments</span> </a></li>
	</ul>

	<div class="col-lg-12">
		<h2 style="float: left">Helpdesk</h2>

		<table id="result_list" class="table table-striped table-bordered table-hover table-condensed">
			<thead>
				<tr>
					<th scope="col" class="title-column sortable column-title">
					<div class="text">
						<a href="?o=1">Issue</a>
					</div></th>
					<th scope="col" class="title-column sortable column-title">
					<div class="text">
						<a href="?o=2">Status</a>
					</div></th>
					<th scope="col" class="title-column sortable column-title">
					<div class="text">
						<a href="?o=3">Priority</a>
					</div></th>
					<th scope="col" class="title-column sortable column-title">
					<div class="text">
						<a href="?o=4">Type</a>
					</div></th>
					<th scope="col" class="title-column sortable column-title">
					<div class="text">
						<a href="?o=5">Description</a>
					</div></th>
					<th scope="col" colspan="2" class="title-column column-title">
					<div class="text">
						Last coments
					</div></th>
				</tr>
			</thead>
			<tbody>
				{% for issue in issues %}
				<tr class="row{{forloop.counter}} {{issue.fields.status.name}}" {% if issue.fields.status.name == 'Closed' %}style="display: none"{% endif %}>
					<td width="10%"><a href="{% url 'admin_helpdesk_issue_view' issue.key %}">{{issue.fields.summary}}</a></td>
					<td width="10%" style="{{issue.fields.status.name|style_jira}}">{{issue.fields.status.name}}</td>
					<td width="10%" style="color: {{issue.fields.priority.name|jira_color}}"><strong>{{issue.fields.priority.name}}</strong></td>
					<td width="10%" >{{issue.fields.issuetype.name}}</td>
					<td width="10%" >{{issue.fields.description|truncatechars:50 }}</td>
					<td width="10%" >{{issue.fields.updated|date_jira }}</td>
					<td width="25%" data-toggle="tooltip" data-placement="bottom" class="content-comment">Comments<span style="">
						<div >
							{% for comm in issue.comments %}
							<p>
							<strong>Added {{comm.body|created_jira_user}} on: {{comm.created|date_jira}}</strong>
							<br>
							{{comm.body|comment_jira|safe}}
							</p>
							{% endfor %}
						</div> </span></td>
				</tr>
				{% empty %}
				<tr class="row1">
					<th rowspan="2">No issues added</th>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

		$('.close-issue-btn').click(function(e) {
			xtml = $(this).find('span').html();
			console.log(xtml);
			e.preventDefault();
			if (xtml == "Show closed") {
				$(this).find('span').html('Hide closed');
				$('.Closed').show();
			} else {
				$(this).find('span').html('Show closed');
				$('.Closed').hide();

			}
		});
		$('.comment-issue-btn').click(function(e) {
			xtml = $(this).find('span').html();
			console.log(xtml);
			e.preventDefault();
			if (xtml == "Hide comments") {
				$(this).find('span').html('Show comments');
				$('.content-comment').hide();
			} else {
				$(this).find('span').html('Hide comments');
				$('.content-comment').show();

			}
		});
		
		
	});

</script>
{% endblock %}

{% block sidebar %}
{% endblock %}